@import './colors.scss';

.button {
  background-color: $feldgrau;
  color: $light-gray;
  border-radius: 3rem;
  font-size: 1rem;
  transition: .2s;

}

.button:hover,
.button:focus {
  background-color: $dark-sienna;
  color: $middle-blue-green;
}